/***********************************************************
                       Home Page
************************************************************/
/*   3     #    */

@import "_little.scss";

body {
		background-image: url("../img/background-image.jpeg");
		background-repeat: no-repeat;
		background-attachment: fixed;
		z-index: -1;
		background-size: cover;
		background-position: 100% 0;
		text-shadow: 0px 0.5px #555;
		letter-spacing: -1px;
		// I put this here because it'll be applied to the whole body and everything in it.
		// No need to put it on each element :)
		-webkit-font-smoothing: antialiased; 

	nav {

		display: inline-block;
		margin: 14px 0 0 32px;

		a {
			background-image: url("../img/icon-menu.svg");
			display: inline-block;
			background-repeat: no-repeat;
			background-size: 44px 44px;
  			padding-left: 49px;
    		font-size: 40px;
			color: #fff;
			text-decoration: none;
			// this is to make all the text "UPPERCASE". Because screenreaders will sometimes read all uppercase words like
			// "M" "E" "N" "U" (actually spelling it out instead of saying "Menu"). Delete this after you read it. 
			text-transform: uppercase;
			//
			}
		}
		
	section {
		background-image: url("../img/logo.svg");
		height: 145px;
		background-repeat: no-repeat;
		background-size: 169px;
		background-position: 50% 0;
		margin: 40% 0 55%;

		h1 {
			font-weight: 100;
			font-size: 38px;
			color: #fff;
			padding-top: 170px;
			text-align: center;
		}
	}

	footer {
		color: #fff;
		font-size: 25px;
		// display: inline-block; (position:absolute makes "display" stuff irrelevant, so we can take it off)
		font-weight: 100;
		text-align: center;
		width: 100%;
		// This is to make it "stick" to the bottom.
		position: absolute;
		bottom: 1em;
		//
	}
}
























