/***********************************************************
                       Home Page
************************************************************/
/*   3     #    */
html, body {
  height: 100%; }

.container {
  height: 100%;
  background-image: url("../img/background-image.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
  background-size: cover;
  background-position: 100% 0;
  text-shadow: 0px 0.5px #555;
  letter-spacing: -1px;
  -webkit-font-smoothing: antialiased; }
  .container nav {
    display: inline-block;
    margin: 14px 0 0 32px;
    position: absolute; }
    .container nav a {
      display: inline-block;
      background-repeat: no-repeat;
      background-size: 44px 44px;
      padding-left: 49px;
      font-size: 40px;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      margin: 0; }
    .container nav .menu_logo {
      background-image: url("../img/icon-menu.svg"); }
    .container nav .menu_logo:hover {
      cursor: se-resize; }
    .container nav .big_x {
      background-image: url("../img/icon-close.svg");
      background-size: 35px;
      position: absolute;
      background-position: 0 50%;
      font-size: 0px;
      height: 40px;
      padding-left: 34px; }
    .container nav .big_x:hover {
      cursor: nw-resize; }

section {
  background-image: url("../img/logo.svg");
  height: 145px;
  background-repeat: no-repeat;
  background-size: 169px;
  background-position: 50% 0;
  width: 100%;
  text-align: center;
  top: 30%;
  position: absolute; }
  section h1 {
    font-weight: 100;
    font-size: 38px;
    color: #fff;
    margin-top: 170px;
    text-align: center;
    text-transform: uppercase;
    display: inline-block; }

footer {
  color: #fff;
  font-size: 25px;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 26px; }

.js {
  text-align: center;
  margin-top: 100px;
  font-size: 40px; }

/***********************************************************
                       Overlay
************************************************************/
/*   3     #    */
#overlay {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  display: none; }
  #overlay ul {
    list-style: none;
    position: absolute;
    top: 114px;
    left: 33px; }
  #overlay li:not(:first-child) {
    margin-top: 36px; }
  #overlay li:nth-child(1) a {
    background-image: url("../img/icon-lab.svg");
    background-size: 31px;
    background-position: 2px -1px;
    padding-left: 63px; }
  #overlay li:nth-child(2) a {
    background-image: url("../img/icon-gallery.svg");
    background-size: 44px;
    background-position: 0 50%;
    padding-left: 67px;
    margin-left: -4px; }
  #overlay li:nth-child(3) a {
    background-image: url("../img/icon-eco.svg");
    background-size: 32px;
    background-position: 2px -1px;
    padding-left: 63px; }
  #overlay li:nth-child(4) a {
    background-image: url("../img/icon-contact.svg");
    background-size: 42px;
    background-position: 0 6px;
    padding-left: 66px;
    margin-left: -3px; }
  #overlay a {
    text-decoration: none;
    font-size: 34px;
    color: #fff;
    background-repeat: no-repeat;
    font-weight: lighter; }

div #menu {
  position: relative;
  z-index: 2; }

/*# sourceMappingURL=main.css.map */
