/***********************************************************
                       Home Page
************************************************************/
/*   3     #    */
/***********************************************************
                        	Mixin
************************************************************/
/*   3     #    */
/***********************************************************
                      Place Holders
************************************************************/
/*   3     #    */
/***********************************************************
                      	  Colors
************************************************************/
/*   3     #    */
/***********************************
           Colors-Function
************************************/
/*   3     #    */
html, body {
  height: 100%;
  position: relative; }

.container {
  height: 100%;
  background-image: url("../img/background-image.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
  background-size: cover;
  background-position: 100% 0;
  text-shadow: 0px 0.5px #555;
  letter-spacing: -1px;
  -webkit-font-smoothing: antialiased; }
  .container #nav {
    display: inline-block;
    margin: 14px 0 0 32px;
    position: absolute; }
    @media screen and (max-width: 414px) {
      .container #nav {
        margin: 14px 0 0 24px; } }
    .container #nav a {
      font-size: 40px;
      color: #fff;
      display: inline-block;
      background-repeat: no-repeat;
      background-size: 44px 44px;
      padding-left: 49px;
      text-decoration: none;
      text-transform: uppercase;
      margin: 0;
      outline: 0; }
      @media screen and (max-width: 414px) {
        .container #nav a {
          background-size: 35px 36px;
          padding-left: 43px;
          font-size: 33px; } }
    .container #nav .menu_logo {
      background-image: url("../img/icon-menu.svg"); }
    .container #nav .big_x {
      font-size: 0px;
      background-image: url("../img/icon-close.svg");
      background-size: 35px;
      position: absolute;
      background-position: 0 50%;
      height: 40px;
      padding-left: 34px; }
  .container #build {
    font-size: 1rem;
    text-align: center;
    background-image: url("../img/logo.svg");
    height: 145px;
    background-repeat: no-repeat;
    background-size: 169px;
    background-position: 50% 0;
    width: 100%;
    top: 30%;
    position: absolute; }
    @media screen and (max-width: 768px) {
      .container #build {
        background-size: 210px;
        height: 180px; } }
    @media screen and (max-width: 414px) {
      .container #build {
        background-size: 143px;
        height: 123px; } }
    .container #build h1 {
      font-size: 38px;
      font-weight: 100;
      color: #fff;
      text-align: center;
      margin-top: 170px;
      text-transform: uppercase;
      display: inline-block; }
      @media screen and (max-width: 768px) {
        .container #build h1 {
          margin-top: 188px;
          font-size: 41px; } }
      @media screen and (max-width: 414px) {
        .container #build h1 {
          font-size: 30px;
          margin-top: 142px; } }
  .container footer {
    font-size: 25px;
    color: #fff;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 26px; }
    @media screen and (max-width: 768px) {
      .container footer {
        font-size: 29px; } }
    @media screen and (max-width: 414px) {
      .container footer {
        font-size: 20px; } }

.js {
  font-size: 40px;
  text-align: center;
  margin-top: 100px; }

/***********************************************************
                       Overlay and menu_index
************************************************************/
/*   3     #    */
#overlay {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1; }

#overlay ul {
  top: 114px; }

#menu_nav ul {
  top: 19px; }

#overlay ul,
#menu_nav ul {
  list-style: none;
  position: absolute;
  left: 33px; }
#overlay li:not(:first-child),
#menu_nav li:not(:first-child) {
  margin-top: 36px; }
#overlay li:nth-child(1) a,
#menu_nav li:nth-child(1) a {
  background-image: url("../img/icon-lab.svg");
  background-size: 31px;
  background-position: 2px -1px;
  padding-left: 63px; }
#overlay li:nth-child(2) a,
#menu_nav li:nth-child(2) a {
  background-image: url("../img/icon-gallery.svg");
  background-size: 44px;
  background-position: 0 50%;
  padding-left: 67px;
  margin-left: -4px; }
#overlay li:nth-child(3) a,
#menu_nav li:nth-child(3) a {
  background-image: url("../img/icon-eco.svg");
  background-size: 32px;
  background-position: 2px -1px;
  padding-left: 63px; }
#overlay li:nth-child(4) a,
#menu_nav li:nth-child(4) a {
  background-image: url("../img/icon-contact.svg");
  background-size: 42px;
  background-position: 0 6px;
  padding-left: 66px;
  margin-left: -3px; }
#overlay a,
#menu_nav a {
  font-size: 34px;
  font-weight: lighter;
  color: #fff;
  text-decoration: none;
  background-repeat: no-repeat;
  outline: 0; }

div #menu {
  position: relative;
  z-index: 2; }

/***********************************************************
            menu-index.html      With no .js
************************************************************/
/*   3     #    */
.after:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0.8;
  z-index: 1; }

div #menu_nav {
  position: relative;
  z-index: 2; }

/***********************************************************
            				Lab
************************************************************/
/*   3     #     */
#test {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  background-color: red; }

/*# sourceMappingURL=main.css.map */
