/***********************************************************
                       Home Page
************************************************************/
/*   3     #    */

@import '_extends.scss';


html ,body {
	height: 100%;
	position: relative;
}

.container {
	height: 100%;
	background-image: url("../img/background-image.jpeg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	z-index: -1;
	background-size: cover;
	background-position: 100% 0;
	text-shadow: 0px 0.5px $color_container_t_shadow;
	letter-spacing: -1px;
	-webkit-font-smoothing: antialiased;

	#nav {
		display: inline-block;
		margin: 14px 0 0 32px;
		position: absolute;

		@media screen and (max-width: 414px) {
			margin: 14px 0 0 24px;
   		}

   		a {
			@media screen and (max-width: 414px) {
				background-size: 35px 36px;
			    padding-left: 43px;
			    font-size: 33px;
			}
		}

		.menu_logo {
			@include menu_icon_and_anchor (49px, 44px 44px, icon-menu);
			@include text(40px, $color: $color_nav_anchor);
		}

		.big_x {
			@include menu_icon_and_anchor (34px, 35px 35px, icon-close, 40px, 0 50%, absolute);
			@include text(0px, $color: $color_nav_anchor);
		}
	}

	#build {
		@include text(1rem, $text-align: center);
		background-image: url("../img/logo.svg");
		height: 145px;
		background-repeat: no-repeat;
		background-size: 169px;
		background-position: 50% 0;
		width: 100%;
		top: 30%;
		position: absolute; 

		@media screen and (max-width: 768px) {
			background-size: 210px;
			height: 180px;
		}

		@media screen and (max-width: 414px) {
			background-size: 143px;
   			height: 123px;
   		}

		h1 {
			@include text(38px, $weight: 100, $color: $color_build_h1, $text-align: center);
			margin-top: 170px;
			text-transform:  uppercase;
			display: inline-block;

			@media screen and (max-width: 768px) {
				margin-top: 188px;
				font-size: 41px;
			}

			@media screen and (max-width: 414px) {
				font-size: 30px;
   				margin-top: 142px;
   			}
		}
	}

	footer {
		@include text(25px, $color: $color_footer, $text-align: center);
		width: 100%;
		position: absolute;
		bottom: 26px;

		@media screen and (max-width: 768px) {
			font-size: 29px;
		}

		@media screen and (max-width: 414px) {
			font-size: 20px;
		}
	}
}		

	

	




// #wrapper {
// 	background-color: #000;
// 	height: 100%;
// }





.js {
	@include text(40px, $text-align: center);
	margin-top: 100px;
}



/***********************************************************
                       Overlay and menu_index
************************************************************/
/*   3     #    */


#overlay {
	content: "";
	position: absolute;
	top:0; right:0; bottom:0; left: 0;
	background-color: rgba($color_overlay, 0.8);
	z-index: 1;
}

#overlay{
	ul {
		top: 114px;
	}
}
#menu_nav {
	ul {
		top: 19px;
	}
}

#overlay,
#menu_nav {

	ul {
		list-style: none;
		position: absolute;
		left: 33px;
	}

	li:not(:first-child) {
		margin-top: 36px;
	}

	li:nth-child(1) a {
		@include menu_icon(icon-lab, 31px, 2px -1px, 63px);
	}

	li:nth-child(2) a {
		@include menu_icon(icon-gallery, 44px, 0 50%, 67px, -4px);
	}

	li:nth-child(3) a {
		@include menu_icon(icon-eco, 32px, 2px -1px, 63px);
	}

	li:nth-child(4) a {
		@include menu_icon(icon-contact, 42px, 0 6px, 66px, -3px);
	}

	a {
		@include text(34px, $weight: lighter, $color: $color_overlay_a);
		text-decoration: none;
		background-repeat: no-repeat;
		outline: 0;
	}
}

div #menu {
	position:relative;
	z-index:2;
}


/***********************************************************
            menu-index.html      With no .js
************************************************************/
/*   3     #    */


.after:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #000;
	opacity:0.8;
	z-index:1;
}

div #menu_nav {
	position:relative;
	z-index:2;
}


/***********************************************************
            				Lab
************************************************************/
/*   3     #     */


#test {
	width: 100px;
	height: 100px;
	border: 2px solid black;
	background-color: red;
}



























