/***********************************************************
                       Home Page
************************************************************/
/*   3     #    */


html ,body {
	height: 100%;
	width: 100%;
}

.test {

	header {
		text-align: center;
		margin-top: 60px;
	}

	.js {
		font-size: 60px;
		margin: 0;

	}
	section {
		margin: 0 20%;
	}

	p {
		font-size: 40px;
		margin: 0;
		display: inline;
	}

	a {
		font-size: 50px;
		margin-left: 20%;
	}

}








